:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background: #2f303a;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  margin: 0;
}

footer {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

/* ==== COMPONENTS ===== */

.modal-btn-index {
  background-color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--fourth-color);
  width: 200px;
  height: 50px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  margin: auto;
  display: block;
  border: 0;
}

.navigation-logo-header {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  text-decoration: none;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #000000;
}

.navigation-logo-header {
  margin-right: 93px;
}

.navigation-list,
.navigation-list-phone-mail {
  display: flex;
  align-items: center;
}

.navigation-list-phone-mail-item:hover,
.navigation-list-phone-mail-item:focus,
.header-phone-number:hover,
.header-phone-number:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.envelop-phone {
  padding-right: 10px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-phone-mail {
  margin-left: auto;
}

.header-phone-number {
  margin-left: 50px;
}

.navigation-logo-span {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  text-decoration: none;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #2196f3;
}

.navigation-logo-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  text-decoration: none;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--fourth-color);
  margin-top: 60px;
}

.button-porfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--main-color);
  border: 0;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-buttons-porfolio {
  padding-top: 94px;
}

.buttons-porfolio-outside {
  display: flex;
  align-items: center;
}

.list-button-porfolio:not(:last-child) {
  margin-right: 8px;
}

.button-porfolio:hover,
.button-porfolio:focus {
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation-list,
.navigation-list-phone-mail,
.navigation-list-footer,
.list-button-porfolio {
  list-style: none;
}

/* ==== END COMPONENTS ===== */

/* ==== HEADER ===== */

.block-banner-outside {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.modal-btn-index {
  margin-top: 30px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.advantages-block {
  margin: 94px 30px;
  margin-left: 0;
}

.ul-button-porfolio {
  display: flex;
  align-items: center;
  margin-left: 332px;
}

.service-box {
  position: relative;
  margin: 50px 30px 94px;
  margin-left: 0;
}

.service-box-span {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: var(--fourth-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header,
.container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link {
  position: relative;
  color: var(--secondary-color);
}

.active-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  width: 100%;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-phone-number,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: var(--third-color);
  fill: var(--third-color);
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.adress-maps:hover,
.adress-maps:focus,
.adress-mail:hover,
.adress-mail:focus,
.adress-phone-number:hover,
.adress-phone-number:focus {
  color: var(--secondary-color);
}

.baner-header {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Main/Image_baner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 37.5rem;
  display: flex;
  align-items: center;
}

.text-baner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fourth-color);
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  margin-right: auto;
  margin-left: auto;
}

/* ==== END HEADER ===== */

/* ==== HEADER PORTFOLIO ===== */

.categories-portfolio {
  padding-top: 50px;
  padding-bottom: 94px;
}

.categories-portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.categories-portfolio-list-item:hover,
.categories-portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.categories-portfolio-list-item {
  position: relative;
  list-style: none;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  cursor: pointer;
}

.box-overlay {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.box-overlay:hover .overlay {
  transform: translateY(-100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  position: absolute;
  font-family: Roboto;
  color: var(--fourth-color);
  font-size: 18px;
  line-height: 1.56;
  font-weight: var(--fourth-color);
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  margin: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.9;
}

.services-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  margin: 20px 24px 2px 24px;
}

.services-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin: 2px 24px 20px 24px;
}

/* ==== END HEADER PORTFOLIO ===== */

/* ==== MAIN ===== */

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--fourth-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--fourth-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-to-us-text,
.newsletter-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
  margin-top: 40px;
}

.social-icon {
  color: var(--fourth-color);
  width: 20px;
  height: 20px;
}

.social-icon:hover,
.social-icon:focus,
.social-list-link:hover,
.social-list-link:focus,
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  fill: var(--fourth-color);
  background-color: var(--secondary-color);
}

.social-media-icons {
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-bottom: 18px;
  margin-top: 16px;
}

.social-media-icons-footer {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 56px;
  margin-bottom: 18px;
  margin-top: 20px;
  fill: #ffffff;
}

.main-div-connect-to-us {
  margin-left: 70px;
  margin-top: 20px;
}

.advantages-icon-background {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.advantages-main-icon {
  color: var(--background);
  width: 65, 32px;
  height: 70px;
}

.h2-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.advantages-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.advantages-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-box {
  /* card bg */

  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 50px 30px 94px;
  margin-left: 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.our-clients-icon {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 94px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-block {
  justify-content: space-between;
  margin-right: 30px;
}

.our-clients-h2 {
  margin-top: 94px;
  margin-bottom: 50px;
}

.our-clients-svg {
  fill: #afb1b8;
}

.our-clients-svg:hover,
.our-clients-svg:focus,
.our-clients-icon:hover,
.our-clients-icon:focus {
  fill: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* ==== END MAIN ===== */

/* ==== FOOTER ===== */

.adress-maps {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  color: var(--fourth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-mail,
.adress-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--background);
  height: 252px;
}

.footer-block-outside {
  display: flex;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.footer-block-inside {
  padding-top: 60px;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer_list_item:not(:last-child) {
  margin-bottom: 9px;
}
/* ==== END FOOTER ===== */

/* ==== MODAL WINDOW ===== */

.backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: relative;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: var(--color-white);
  background-color: transparent;
  display: flex;
  float: right;
}

.button_x {
  position: absolute;
  top: 30%;
  left: 33%;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fourth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

/* ==== MODAL FORM ===== */

.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  padding-top: 40px;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-wrapper h3 {
  text-align: center;
  padding-bottom: 12px;
}

.form-label textarea {
  color: var(--third-color);
  padding-left: 12px;
  resize: none;
  height: 120px;
  width: 448px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 4px;
  color: var(--third-color);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
}

.modal-btn {
  color: var(--fourth-color);
  background-color: var(--secondary-color);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  margin: 30px auto auto auto;
}

.label-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 4px;
}

.label-wrapper svg {
  position: absolute;
  fill: var(--main-color);
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper input,
.form-label textarea {
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper input:focus,
.form-label textarea:focus {
  border: 1px solid var(--secondary-color);
}

.label-wrapper input:focus + svg {
  fill: var(--secondary-color);
}

.policy-wrapper {
  display: flex;
}

.policy {
  cursor: pointer;
  display: flex;
}

.policy a {
  text-decoration: underline;
  color: var(--secondary-color);
}

.policy a:hover,
.policy a:focus {
  opacity: 0.8;
}

.policy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 16px;
  width: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  background-color: var(--fourth-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy:hover input ~ .checkmark {
  background-color: var(--third-color);
}

.policy input:checked ~ .checkmark {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
}

.checkmark-svg {
  display: none;
  opacity: 0;
}

.policy input:checked ~ .checkmark .checkmark-svg {
  display: block;
  opacity: 1;
}

.policy-wrapper .policy-text {
  margin: 0 5px;
}

/* ==== END MODAL FORM ===== */

/* ==== END MODAL WINDOW ===== */

/* ==== START FORM NEWSLETTER ===== */

.footer-newsletter {
  margin-left: 70px;
  margin-top: 60px;
}

.newsletter {
  padding-top: 16px;
  padding-bottom: 30px;
  display: flex;
  gap: 12px;
}

.newsletter-text {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--fourth-color);
  background-color: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.newsletter-text:focus {
  color: var(--fourth-color);
  border: 1px solid var(--secondary-color);
  outline: none;
}

.newsletter-btn {
  height: 50px;
  background-color: var(--secondary-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
}

.newsletter-btn-text {
  color: var(--fourth-color);
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* ==== END FORM NEWSLETTER ===== */
